<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Localization UI Tool" Language="1033" Version="1.0.0" Manufacturer="Your Company" UpgradeCode="8A7B6C5D-4E3F-2A1B-0C9D-8E7F6A5B4C3D">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Media Id="1" Cabinet="LocalizationUITool.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Localization UI Tool">
          <Component Id="ApplicationFiles" Guid="1F2E3D4C-5B6A-7C8D-9E0F-1A2B3C4D5E6F">
            <File Id="LocalizationUIToolExe" Source="$(var.BuildDir)\localization_ui_tool.exe" KeyPath="yes" />
            <Directory Id="DataFolder" Name="data">
              <Component Id="DataFiles" Guid="A1B2C3D4-E5F6-7A8B-9C0D-1E2F3A4B5C6D">
                <CopyFile Id="CopyDataFolder" Source="$(var.BuildDir)\data" DestinationProperty="INSTALLFOLDER" />
              </Component>
            </Directory>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="Localization UI Tool" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationFiles" />
      <ComponentRef Id="DataFiles" />
    </ComponentGroup>
  </Product>
</Wix>